<p>directivesrecap works!</p>
<p *ngIf="condition; else otherTemplate;"></p>
<button (click)="changeCondition()">Change condition</button>
<ng-template #otherTemplate>Some text</ng-template>
<div class='container-fluid'>
    <div *ngFor="let color of colors">
        <h1 [ngStyle]="{backgroundColor: condition ? color : 'transparent'}">{{color}}</h1>
        <p appHighlight>Custom Directive Implemented</p>
        <p appRendererHighlight appListenerHighlight [defaultColor]="'aquamarine'" [highlightColor]="'orange'">Custom Directive with Renderer Implemented</p>
        <p appListenerHighlight defaultColor="orange" highlightColor="purple">Special case example when doing data-binding and passing in a string</p>
        <p *appUnless="condition">Example of created structure directive, runs when condition variable is false. Opposite of ngIf</p>
        <div [ngSwitch]="answer">
            <p *ngSwitchCase="'yes'">Yes</p>
            <p *ngSwitchCase="'no'">No</p>
            <p *ngSwitchCase="'maybe'">Maybe</p>
        </div>
        <button (click)="changeAnswer('yes')">Yes</button>
        <button (click)="changeAnswer('no')">No</button>
        <button (click)="changeAnswer('maybe')">Maybe</button>
    </div>
</div>