<div class='container calc-container'>
    <div class='output-box'>{{currentValue ? currentValue : 0}}</div>
    <div class='button-container'>
        <div class='button-row'>
            <div *ngFor="let operand of operands">
                <button (click)="setOperand(operand)" class='calc-button ops-button'>{{operand}}</button>
            </div>
        </div>
        <div class='button-row'>
            <div *ngFor="let num of nums">
                <button (click)="setNum(num)" class='calc-button num-button'>{{num}}</button>
            </div>
        </div>
    </div>
</div>
