.pageheader {
  display: flex;
  min-height: 12vh;
  justify-content: center;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
}

.pageheader > h1 {
  margin: auto;
}

.landing-main {
  display: flex;
  flex-direction: column;
  min-height: 88vh;
  padding-left: 0;
  padding-right: 0;
}

.landing {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1495874418447-4a9bab856d0b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1862&q=80");
  background-size: 50%;
  background-position: right;
  background-repeat: no-repeat;
}

.landing > p {
  font-size: 100px;
  color: rgb(6, 110, 102);
  font-weight: bolder;
}

.landing-footer {
  min-height: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 4rem;
  padding-right: 4rem;
}

.landing-footer > h3 {
  margin: auto;
}
